*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(19, 35, 39);
}

body.light{
    background-color:whitesmoke;
}

.clock{
     width: 350px;
     height: 350px;
      background-color:#091921; 
     display: flex;
     justify-content: center;
     align-items: center;
     box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.05),    20px 20px 20px rgba(0, 0, 0, 0.3),    inset -8px -8px 15px rgba(255, 255, 255, 0.05),    inset 20px 20px 20px rgba(0, 0, 0, 0.3);
      border-radius:50% ; 
     -webkit-border-radius:50% ;
     -moz-border-radius:50% ;
     -ms-border-radius:50% ;
     -o-border-radius:50% ;
}

 body.light .clock{
     background-color: aliceblue; 
    border: 20px solid rgba(227, 226, 222, 0.476);

    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.5),
    10px 10px 10px rgba(0, 0, 0, 0.3),
    inset -8px -8px 15px rgba(255, 255, 255, 0.5),
    inset 10px 10px 10px rgba(0, 0, 0, 0.3);
   
}


.clock::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    background: #091921;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    z-index: 100000;

}

body.light .clock::before {
    background: #747b6e;
}

.indicators div{
    position: absolute;
    width: 2px;
height: 15px;
background: rgba(87, 78, 78, 0.51);

}








.indicators div:nth-child(1){
    transform: rotate(30deg) translateY(-130px) translateX(-3px);
}


.indicators div:nth-child(2){
    transform: rotate(60deg) translateY(-130px) translateX(-5px)
}

.indicators div:nth-child(3){
    transform: rotate(120deg) translateY(-130px) translateX(-5px)
}

.indicators div:nth-child(4){
    transform: rotate(140deg) translateY(-130px) translateX(12px)
}


.indicators div:nth-child(5){
    transform: rotate(220deg) translateY(-130px) translateX(-5px)
}

.indicators div:nth-child(6){
    transform: rotate(250deg) translateY(-130px) translateX(-5px)
}

.indicators div:nth-child(7){
    transform: rotate(300deg) translateY(-130px) translateX(-5px)
}

.indicators div:nth-child(8){
    transform: rotate(330deg) translateY(-130px) translateX(-5px)
}


.numbers{
    position: relative;
    font-size: 30px;
    font-weight: bold;
    color: #808080;
} 

#three{
    position: absolute;
left: 120px;
top: -15px;

}

#six{
    position: absolute;
    top: 110px;
    left: -8px;
}


#nine{
    position: absolute;
    right: 120px;
    top: -15px;
}

#twelve{
    position: absolute;
    bottom: 110px;
    left: -15px;
}


.hours,.min,.secendly{
    position: absolute;
    z-index: 10;
}

 .hs::after{
content: '';
position: absolute;
width: 8px;
height: 80px;
background-color: rgb(206, 24, 11);
border-radius: 5px 5px 0px 0px;
z-index: 10;
}

.mn::after{
content: '';
width: 5px;
height: 90px;
background-color: darkgreen;
border-radius: 2px 0px 0px 5px;
position: absolute;
z-index: 11;

}


.sec::after{
    content: '';
    width: 2px;
    height: 150px;
    background-color: #14649e;
position: absolute;
z-index: 12;
border-radius: 5px 5px 0 0;

} 

.time{
    height: 20px;
    width: 10px;
    position: absolute;
    top: 60%;
    border: 5ch solid #0f2632;
    background: #091921;
    border-radius: 5px;
    color: #808080;
    font-weight: bold;
    box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.1), -5px -5px 10px rgba(255, 255, 255, 0.1);

}

.time{
    background-color: #808080;
    border: #a6be93;
}

.toggleClass{
    width: 25px;
    height: 25px;
    background-color: aquamarine;
    position: fixed;
    right: 90px;
    top: 5%;
    border-radius: 50%;
}
.toggleClass::before{
content: 'Light Mode';
position: absolute;
left: 30px;
white-space: nowrap;

}
.toggleClass{
    background: #091921;
    color: #091921;
}
.toggleClass::before{
content: 'Darck Mode';
}
