*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(19, 35, 39);
}

body.light{
    background-color:whitesmoke;
}

.clock{
     width: 350px;
     height: 350px;
      background-color:#091921; 
     display: flex;
     justify-content: center;
     align-items: center;
     box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.05),    20px 20px 20px rgba(0, 0, 0, 0.3),    inset -8px -8px 15px rgba(255, 255, 255, 0.05),    inset 20px 20px 20px rgba(0, 0, 0, 0.3);
      border-radius:50% ; 
     -webkit-border-radius:50% ;
     -moz-border-radius:50% ;
     -ms-border-radius:50% ;
     -o-border-radius:50% ;
}

 body.light .clock{
     background-color: aliceblue; 
    border: 20px solid rgba(227, 226, 222, 0.476);

    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.5),
    10px 10px 10px rgba(0, 0, 0, 0.3),
    inset -8px -8px 15px rgba(255, 255, 255, 0.5),
    inset 10px 10px 10px rgba(0, 0, 0, 0.3);
   
}


.clock::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    background: #b1daee;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    z-index: 100000;

}

body.light .clock::before {
    background: #929c8a;
}

.indicators div{
    position: absolute;
    width: 2px;
height: 15px;
background: rgba(126, 119, 119, 0.51);

}








.indicators div:nth-child(1){
    transform: rotate(30deg) translateY(-130px) translateX(-3px);
}


.indicators div:nth-child(2){
    transform: rotate(60deg) translateY(-130px) translateX(-5px)
}

.indicators div:nth-child(3){
    transform: rotate(120deg) translateY(-130px) translateX(-5px)
}

.indicators div:nth-child(4){
    transform: rotate(140deg) translateY(-130px) translateX(12px)
}


.indicators div:nth-child(5){
    transform: rotate(220deg) translateY(-130px) translateX(-5px)
}

.indicators div:nth-child(6){
    transform: rotate(250deg) translateY(-130px) translateX(-5px)
}

.indicators div:nth-child(7){
    transform: rotate(300deg) translateY(-130px) translateX(-5px)
}

.indicators div:nth-child(8){
    transform: rotate(330deg) translateY(-130px) translateX(-5px)
}


.numbers{
    position: relative;
    font-size: 30px;
    font-weight: bold;
    color: #808080;
} 

#three{
    position: absolute;
left: 120px;
top: -15px;

}

#six{
    position: absolute;
    top: 110px;
    left: -8px;
}


#nine{
    position: absolute;
    right: 120px;
    top: -15px;
}

#twelve{
    position: absolute;
    bottom: 110px;
    left: -15px;
}


.hs,.mn,.sec{
    position:absolute ;
    display:flex;
    justify-content: center;
    align-items: center;
    
}


.hours,.min,.secendly{
    position: absolute;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

    
    

 .hs{
  position: absolute;
    height: 160px;
    width: 160px;

}
 .mn{
    position: absolute;
    height: 190px;
    width: 190px;
}
.sec{
    position: absolute;

    height: 230px;
    width: 230px;
}



 .hs::after{
content: '';
position: absolute;
top: 5px;
width: 8px;
height: 80px;
background-color: rgb(206, 24, 11);
border-radius: 5px 5px 0px 0px;
z-index: 10;
}

.mn::after{
content: '';
position: absolute;
top: 10px;
width: 5px;
height: 90px;
background-color: darkgreen;
border-radius: 2px 0px 0px 5px;
z-index: 11;

}


.sec::after{
    content: '';
    position: absolute;
    bottom: 80px;
    width: 2px;
    height: 150px;
    background-color: #14649e;
    z-index:12;
    border-radius: 5px 5px 0 0;

} 

.time{
    height: 20px;
    position: absolute;
    top: 60%;
    padding: 0 5px;
    border: 1px solid #2a5368;
    background: #161b1b;
    border-radius: 5px;
    color: #808080;
    font-weight: bold;
    box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.1), -5px -5px 10px rgba(255, 255, 255, 0.1);
}
body.light .time{
    color: #606060;
    border: 1px solid #CAD3E3;
    background: #CAD3E3;
    box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.5), -5px -5px 10px rgba(255, 255, 255, 0.5);
}

.toggleClass{
    position: absolute;
    top: 30px;
    right: 150px;
    width: 20px;
    height: 20px;
    font-size: 18px;
    border-radius: 50%;
    background: #d1dae3;
    color: #d1dae3;
    font-family: monospace;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.toggleClass::before{
    position: absolute;
    left: 25px;
    content: 'Light Mode';
    white-space: nowrap;
}
body.light .toggleClass{
    background: #091921;
    color: #091921;
}
body.light .toggleClass::before{
    content: 'Dark Mode'; 
}
